body{
    background-color:lemonchiffon;
    padding:5%;
    font-family: 'Roboto', sans-serif;
    margin:5%;

}
p{
    font-size:1.5em;
    font-weight:bold;
    color:darkblue;
}
#n1{
    font-size:1.5em;
    font-weight:bold;
    color:green;
}
#n2{
    font-size:1.5em;
    font-weight:bold;
    color:red;
}